@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Bhaina 2', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #040c1a;
    color: #ffffff;
}

.bt-0 {
    border-top: 0 !important ;
}

.br-0 {
    border-right: 0 !important ;
}

.bb-0 {
    border-bottom: 0 !important ;
}

.bl-0 {
    border-left: 0 !important ;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: #fff;
    height: 64px;
    margin: 16px 0;
}

.nav-logo {
    width: 100%;
}

.nav-logo a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: #040c1a;
}

.nav-logo img {
    width: 64px;
    max-width: 100%;
}

.game-section {
    background-color: #f1f1f1;
    color: #040c1a;
    display: flex;
    justify-content: center;
    margin: 48px 0;
    padding: 48px 0;
    font-family: 'Roboto', sans-serif;
}

.game-container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
}

.box {
    border: 1px solid #040c1a;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: #040c1a;
    color: #ffffff;
}

.info {
    font-size: 20px;
}

.gameinfo {
    font-family: 'Baloo Bhaina 2', sans-serif;
    padding: 0 32px;
}

.image-box img {
    width: 0;
    transition: width 1s ease-in-out;
}

#reset {
    margin: 0px 18px;
    padding: 6px 20px;
    background-color: #040c1a;
    color: #f1f1f1;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    border: none;
}

.creator {
    padding: 32px 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.name {
    font-family: 'Baloo Bhaina 2';
    font-size: 32px;
    letter-spacing: 1.8px;
}